@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_opszwght.ttf);
}

* {
    font-family:"Inter"
}

@keyframes l7 {to{transform: rotate(.5turn)}}
@keyframes l23 {to{transform: rotate(360deg)}}

:root {
  --loader-rgb: 0 0 0;
}

.dark {
  --loader-rgb: 255 255 255;
}

.loader-2 {
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgb(var(--loader-rgb)/50%) 30%, #0000 0 70%, rgb(var(--loader-rgb)/100%) 0) 50%/8% 100%,
    linear-gradient(90deg, rgb(var(--loader-rgb)/25%) 30%, #0000 0 70%, rgb(var(--loader-rgb)/75%) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loader-2::before,
.loader-2::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
}

.loader-2::before {
  opacity: 0.915;
  transform: rotate(30deg);
}

.loader-2::after {
  opacity: 0.83;
  transform: rotate(60deg);
}